.html{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
.logo{
    color: rgb(255, 196, 0);
    font-size: 3rem;
}

.tag-line{
    font-size: 4rem;
    font-weight: 800;
}
.dev{
    color: midnightblue;
}
.left, .right{
    display: inline-block;
    width: 45%;
}

.main img{
    height: 200px;
    width: 300px;
    float: left;
    margin-right: 40px;

}

.left p , .right p{
    margin: 0px;
}

.right{
    float: right;
}
footer{
    position: relative;
    left: 1000px;
    color: midnightblue;
    font-weight: 600;
}

@media (max-width: 680px) {
    body{
        background-color: aquamarine;
    }
    .left, .right{
        width: 100%;
        margin-bottom: 20px;
    }
    .left p , .right p{
        text-align: justify;
    }
    .main img{
        width: 100%;
        margin-bottom:10px ;
    
    }
    .logo{
        font-size: 1.5rem;
    }
    .tag-line{
        font-size: 2rem;
        text-align: center;
    }
    footer{
        position: static;
        text-align: center;
    }
}